<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
<!--    

                 below the  autowire="byName", using to autowire the bean to the class by using keyword
                 autowire will some values, available in the ide,
                 
                 eg: byName is checking the <bean id="engineer" class="com.spring.framework.core.Test"></bean>
                 Test  class id name , if id name and the variable declared in the dev private Engineer engineer;
                 is match this auto wire willl work perfectly 
               
 -->
<bean id="dev" class="com.spring.framework.core.Dev" autowire="byName">

<!-- <property name="engineer" ref="test"></property> -->


</bean>

<bean id="engineer" class="com.spring.framework.core.Test"></bean>
</beans>